*{
  font-family: helvetica, garamond;
  
}
body{
  width:860px;
  margin: 0px auto;
}
header{
  font-family: helvetica, garamond;

}
nav li{
  display: inline-block;
}
span {
  display: ;
}
nav {
  float:right;
}
#hero {
  width: 100%;
}
.text {
  padding-top: 50px;
  padding-bottom:30px;
}
section p{
  margin-top:30px;
  text-indent: 20px;
}
div {
  background-image: url('../img/list-bg.png');
}
a { 
  text-decoration: none;
  color: black;
}
div#background-mig{
  background-image: url('../img/list-bg.png') no-repeat center cover;
  object-fit: contain;
}
main div ul{
display: inline-block;
margin: 60px;
}
main div ul#box {
  display: inline-block;
  margin: 75px;
}
main div ul li{
  margin: 5px;
}
main section#bottom{
  padding: 25px;

}
main section#bottom img{
  float: left;
 
}
main section#bottom span{
 
}
main section#bottom h3{
  display: inline-block;
  width: 200px;
  margin-left: 25px;
}