*{
  font-family: helvetica, garamond;
  
}
body{
  width:860px;
  margin: 0px auto;
}
header{
  font-family: helvetica, garamond;

}
header h2{
  
  font-family:'Dancing Script', cursive;
  font-size:38px;
  font-weight:bold;
  width:250px;
  padding-top: 38px;
  margin-top:7px;
  margin-right:15px;
 
}
header p{
  display:inline-block;
  text-transform: uppercase;
  font-size:8px;
  margin-top:1px;
  margin-right: 15px;
  padding-top:1px;
  
}
#logo {
  padding-top:40px;
  float:left;
  width:45px;
  margin-right:10px;
}
h1 {
  
  margin-top:40px;
  margin-bottom:5px;
  padding-bottom:5px;
  padding-bottom:5px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;

}

.herotitle p {
  display:inline-block;
  color:grey;
  text-transform:uppercase;
  font-family: 'Oswald', sans-serif;
  font-size:10px;
  margin-top:3px;
  padding-top:2px;
  margin-left:0px;
  padding-left:0px;
  width:200px;
}

nav li{
  display: inline-block;
}

nav {
  float:right;
}

#hero {
  float:right;
  width: 100%;
  margin-top:5px;
  margin-bottom:30px;
}
.text {
  padding-top: 50px;
  padding-bottom:30px;
}
section p{
  margin-top:30px;
  text-indent: 20px;
  font-family:'Oswald', sans-serif;

}
div {
  background-image: url('../img/list-bg.png');
}
a { 
  text-decoration: none;
  color: black;
}
div#background-mig{
  background-image: url('../img/list-bg.png') no-repeat center cover;
  object-fit: contain;
}
main div ul{
display: inline-block;
margin: 60px;
}
main div ul#box {
  display: inline-block;
  margin: 75px;
}
main div ul li{
  margin: 5px;
}
main section#bottom{
  padding: 25px;
  display: inline-block;
  width: 100%;
}
main section#bottom img{
  float: left;
 
}
main section#bottom span{
 font-size: 17px;
 width: 300px;
}
main section#bottom h3{
  display: inline-block;
  width: 200px;
  margin-left: 25px;
}
main section#bottom p{
  width: 600px;
  padding: 0;
  margin: 0px left;
}
main section#bottom button{
  float: right;
  size: 25px;
  background-color: rgb(201, 46, 46);
  padding: 15px 32px;
  margin-top: 0px;
  color: antiquewhite;
}
 
li:nth-last-of-type(2){
  margin-left: 8px;
}
footer{
  font-size: 10px;
  margin: 0px auto;
  text-align: center;
}
footer img{
  size: 5px:
}